.App {
  text-align: center;
  
}



.container{
  max-width:960px ; 
  margin: 0 auto;

}
.SearchBar{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;

}
.SearchBar input{
  margin-top: 20px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;

}